h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3C3F69/*#000B33*/ !important;
}

.heading-light {
  color: #fff !important;
}

.text-light {
  color: rgba(255, 255, 255, 0.8) !important;
}

.heading-dark {
  color: #3C3F69/*#000B33*/ !important;
}

.text-dark {
  color: rgba(0, 11, 51, 0.8) !important;
}

.site-header__brand{
  padding-top: 25px;
}

.single-brand{
  width: 20px;
  height: 10px;
  align-items: center;
  text-align: center;
}

.btn-store{
  width: 110px;
  height: 35px;
}

.brand-section-01__wrapper{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 12px;
}

.ss-card{
  border-radius: 20px;
}

/* .card-2{
  width: 50px;
  height: 150px;
} */


.text-primary {
  color: #FB558B!important;
}

.text-secondary {
  color: #505EDC !important;
}

.text-tertiary {
  color: #2B59FF !important;
}

.bg-primary {
  background-color: #FB558B!important;
}

.bg-secondary {
  background-color: #505EDC !important;
}

.bg-tertiary {
  background-color: #2B59FF !important;
}

.btn-primary-hvr {
  border-color: #FD4C5C;
  color: #fff !important;
  background-image: linear-gradient(45deg, #FC77A2 50%, transparent 10%);
  background-position: 100%;
  background-size: 400%;
  transition: background 400ms ease-in-out;
}
.btn-primary-hvr:hover {
  color: #fff !important;
  background-position: 0;
}

.btn-secondary-hvr {
  background-color: #505EDC !important;
  color: #fff;
}
.btn-secondary-hvr:hover {
  background-color: #505EDC !important;
  border-color: #505EDC !important;
  color: #fff;
}

.btn-secondary {
  background-color: #505EDC !important;
  color: #fff;
}

.btn-tertiary {
  background-color: #2B59FF !important;
  color: #fff;
}

.fill-primary {
  fill: #FB558B!important;
}
.fill-primary path {
  fill: #FB558B!important;
}

.fill-secondary {
  fill: #505EDC !important;
}
.fill-secondary path {
  fill: #505EDC !important;
}

.fill-tertiary {
  fill: #2B59FF !important;
}
.fill-tertiary path {
  fill: #2B59FF !important;
}

.stroke-primary {
  stroke: #FB558B!important;
}

.stroke-secondary {
  stroke: #505EDC !important;
}

.stroke-tertiary {
  stroke: #2B59FF !important;
}

.bg-gradient-primary-secondary {
  background: linear-gradient(90deg, #fd5665 0%, #505EDC 100%);
}

.border-primary {
  border-color: #FB558B!important;
}

.border-secondary {
  border-color: #505EDC !important;
}

.border-tertiary {
  border-color: #2B59FF !important;
}

.text-gradient {
  background: -webkit-linear-gradient(#FD4C5C, #505EDC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-white-gradient {
  --radius: 3px;
  --border-width: 2px;
  background: #fff;
  border-width: var(--border-width);
  border-style: solid;
  border-color: transparent;
  position: relative;
  z-index: 1;
  border-radius: var(--radius);
}
.btn-white-gradient:before {
  content: "";
  background: linear-gradient(90deg, #FB558B0%, #505EDC 100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  border-radius: var(--radius);
  transition: 0.4s;
}
.btn-white-gradient:after {
  content: "";
  background: #fff;
  position: absolute;
  top: var(--border-width);
  left: var(--border-width);
  right: var(--border-width);
  bottom: var(--border-width);
  z-index: -1;
  transition: 0.4s;
}
.btn-white-gradient.active, .btn-white-gradient:hover {
  color: #fff;
}
.btn-white-gradient.active:after, .btn-white-gradient:hover:after {
  left: 100%;
}
.btn-white-gradient.active:hover {
  color: #000B33;
}
.btn-white-gradient.active:hover:after {
  left: var(--border-width);
}

.site-menu-main .sub-menu > li > a:hover {
  color: #FB558B!important;
}

/* ------------------------------
    Button Theming
--------------------------------*/
.btn-primary-hvr {
  background-color: #FB558B!important; /* #FD4C5C*/
  color: #fff;
  border-color: #FB558B!important;
}
.btn-primary-hvr:hover {
  background-color: #FB558B !important; /*rgba(253, 76, 92, 0.8)*/
  border-color: #FB558B !important;
  color: #fff;
}

.btn-secondary-hvr {
  background-color: #505EDC !important; /*#505EDC*/
  color: #fff;
  border-color: #505EDC !important;
}
.btn-secondary-hvr:hover {
  background-color: #505EDC !important; /*#505EDC*/
  border-color: #505EDC !important;
  color: #fff;
}

.btn-primary {
  background-color: #FB558B !important;
  border-color: #FB558B !important;
  color: #fff;
}

.btn-secondary {
  background-color: #505EDC !important;
  border-color: #505EDC !important;
  color: #fff;
}

.btn-tertiary {
  background-color: #2B59FF !important;
  border-color: #2B59FF !important;
  color: #fff;
}

.btn-primary-outline {
  border-color: #FB558B!important;
  color: #FB558B!important;
}
.btn-primary-outline:before {
  background: #FB558B!important;
}

.btn-primary-outline-reverse:before {
  background: #FB558B!important;
}
.btn-primary-outline-reverse:hover {
  border-color: #FB558B!important;
  color: #FB558B!important;
}

.nav-tab--content-2 .nav-link {
  color: #505EDC !important;
}

.nav-tab--content-2 .nav-link.active {
  color: #FB558B!important;
  border-color: #FB558B!important;
}

.card-pricing--03:not(.active) .btn:before,
.card-pricing--03.active .btn:before,
.card-pricing--04:not(.active) .btn:before,
.card-pricing--04.active .btn:before {
  background-color: #FD4C5C;
}

.card-pricing--03:not(.active) .btn,
.card-pricing--03.active .btn:hover,
.card-pricing--04:not(.active) .btn,
.card-pricing--04.active .btn:hover {
  border-color: #FB558B!important;
  color: #FB558B!important;
}

.card-pricing--03.active .btn,
.card-pricing--04.active .btn {
  border-color: #FB558B!important;
}

.nav-tab--content-2.nav-tab--content-2--02 .nav-link.active {
  color: #2B59FF !important;
  opacity: 1;
  border-bottom: 2px solid #2B59FF !important;
}

.univenn-logo{
  height: 45px;
  width: 75px;
  margin-left: 20px;
}

 @media (min-width: 1200px) {
  .widget-card {
    height: 253px;
  }
  .iPhones{
   width: 500px;
   height: 600px;
  }
}

@media (max-width: 992px) {
  .wiget-card {
    height: 253px;
  }
}

@media (min-width: 768px) {
  .screenshot-image{
    width: 267px;
    height: 534px;
  }
}
